@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

.mainHeads{
    text-align: center;
    color: #d31b1b ;
    margin-top: 50px;
}

.fit-image{
    max-width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
}

.bg-text {
    color: wheat;
    background-color: rgb(125, 1, 141);
    background-color: rgba(125,1,141, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 3000%;
    left: 50%;
    right: 50%;

    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    
}
#heart {
    position:absolute;
    z-index:500;
    right:0px;
    top:10px;
}