.back {
    z-index: 0;
}
.midback {
    z-index: 1;
}
.mid {
    z-index: 2;
}
.front {
    z-index: 3;
}
div.col-md-2 {
    padding-top: 2%;
    background-color: #fcdfe7;
    padding-bottom: 19%;
}
div.col-md-10 {
    padding-top: 2%;
    height:auto;
}
#body {
    margin:10% 30% 0 30%;
    
}
.eyes, .hair_female, .hair_male, .mouth, .nose, .top_male, .top_female, .bottom_male, .bottom_female, .shoes_male, .shoes_female {
    visibility: hidden;
    position:absolute;
    bottom:500px;
    left:500px;
}
.sword, .gendered {
    display: none;
}